.fading-dots{
    margin-top: 10%;
}
.fading-dots.center{
    margin-top: 50vw;
}
.loading-dot{
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 0%;
    width: 100%;
    height: 20px;
    width: 20px;
    background-color: var(--color3);
}
.dot3 {
    animation:fade 1s ;
    -moz-animation:fade 1s ; /* Firefox */
    -webkit-animation:fade 1s ; /* Safari and Chrome */
    -o-animation:fade 1s ; /* Opera */
    animation:fade 1s  infinite;
}
.dot2 {
    animation:fade 1s -0.1s;
    -moz-animation:fade 1s -0.1s; /* Firefox */
    -webkit-animation:fade 1s -0.1s; /* Safari and Chrome */
    -o-animation:fade 1s -0.1s; /* Opera */
    animation:fade 1s -0.1s infinite;
}
.dot1 {
    animation:fade 1s -0.2s;
    -moz-animation:fade 1s -0.2s; /* Firefox */
    -webkit-animation:fade 1s -0.2s; /* Safari and Chrome */
    -o-animation:fade 1s -0.2s; /* Opera */
    animation:fade 1s -0.2s infinite;
}

@keyframes fade{
    0% {opacity:0;}
    50% {opacity:1;}
    100% {opacity:0;}
}

@-moz-keyframes fade{
    0% {opacity:0;}
    50% {opacity:1;}
    100% {opacity:0;}
}

@-webkit-keyframes fade{
    0% {opacity:0;}
    50% {opacity:1;}
    100% {opacity:0;}
}

@-o-keyframes fade{
    0% {opacity:0;}
    50% {opacity:1;}
    100% {opacity:0;}
}
