html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    height:100%;
}

.Navbar{
    height:7%;
    width: 100%;
    position: relative;
    z-index: 999;
    background-color: var(--color5);
}

.Navbar-bar{
    text-align: right;
    height: 100%;
}

.Navbar-bar > button{
    background: none;
    border: none;
    height: 100%;
    font-size: x-large;
    outline: none;
    margin-top: -3px;
    margin-right: 5px;
}

.Navbar-list{
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
}

.Navbar-list.expanded{
    max-height: 500px;
    transition: max-height 0.25s ease-in;
    font-weight: 400;
}


.Navbar-list-item{
    width: 100%;
    font-weight: bolder;
}

.Navbar-list-item:link, .Navbar-list-item:visited {
    background: var(--color5);
    color: white;
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    display: inline-block;
}
.Navbar-list-item:hover, .Navbar-list-item:active {
    background: var(--color5Light);
}
.Navbar-list-item: hover{
    background: var(--color5Light);
}

.Content{
    position: relative;
    height: 93%
}

*{
    font-family: 'Noto Sans KR', sans-serif;
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

.title{
    font-size: 30px;
    font-family: 'Oxygen', sans-serif;
}

.Login{
    background-color: var(--color4);
    width: 100%;
    height: 100%;
}

.Login > button{
    width: 10px;
}

.login-credentials{
    padding-top: 50px;
}

.input-field-wrapper{
    width: 80%;
    min-width: 60px;
    margin: auto;
}

.input-field-wrapper > h3{
    margin-top: 2%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.input-field-wrapper > h3{
    text-align: left;
}

.input-field{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    /* background-color: var(--color5) */
}

.login-button{
    margin-top: 50px;
    width: 30vw !important;
}

.button{
    background-color: var(--color3);
    color: #FFFFFF;
    width: 60px;
    height: 35px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.list-selection-item{
    margin: 10px auto;
    text-align: center;
    vertical-align: middle;
    background-color: var(--color1);
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 8px #888888;
    height: 42px;
    display: inline-block;
}

/* Det är är ett jävla fulhack */
.vertical-center{
    margin-top: 8px
}

.collapsed{
    height: 0px;
}

.hidden{
    display: none;
}

:root {
  --color1: #1C4D4F;
  --color1Light: #2C5D5F;
  --color2: #237176;
  --color2Light: #338186;
  --color3: #17B4AD;
  --color3Light: #27C4BD;
  --color4: #FFFFFF;
  --color4Light: #FFFFFF;
  --color5: #17B4AD;
  --color5Light: #27C4BD;
}

.width-limiter{
    width: 85%;
    margin: auto;
}
