html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FFCC00;
}

#root {
    height:100%;
}

.Navbar{
    height:7%
}

.Content{
    height: 93%
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

.Login{
    background-color: #FDE992;
    width: 100%;
    height: 100%;
}

.login-credentials{
    padding-top: 50px;
}

.input-field-wrapper{
    width: 80%;
    min-width: 60px;
    margin: auto;
}

.input-field-wrapper > h3{
    text-align: left;
}

.input-field{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

.login-btn{
    padding-top: 50px;
    color: #16B4AD;
}
