.new-trip{
    position: fixed;
    /* top: 90%; */
    bottom: 0;
    width: 100%;
    height: 10vh;
    background-color: var(--color3  );
    color: white;
    animation: 0.5s ease-out 0s 1 popup;
}

.new-trip:hover{
    background-color: white;
    color: var(--color3  );
}

.new-trip-button{
    /* width: 10vh; */
    width: 100%;
    /* border-radius: 50%; */
}

.new-trip-button:active{
    background-color: white;
    color: var(--color3);
}


.new-trip-button-symbol{
    width: 70%;
    height: 70%;
}

@keyframes popup {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
