
.Navbar{
    position: relative;
    top: 0;
    height:7%;
    width: 100%;
    z-index: 1;
    background-color: var(--color5);
    animation: 0.5s ease-out 0s 1 popdown;
}

.Navbar-bar{
    text-align: right;
    height: 100%;
}

.Navbar-bar > button{
    z-index: 11;
    background: none;
    border: none;
    height: 100%;
    font-size: x-large;
    outline: none;
    margin-top: -3px;
    margin-right: 5px;
    color: var(--color1);
}

.Navbar-bar.expanded > button{
    color: white;
}

.Navbar-list{
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
}

.Navbar-list.expanded{
    max-height: 500px;
    transition: max-height 0.25s ease-in;
    font-weight: 400;
}


.Navbar-list-item{
    width: 100%;
    font-weight: bolder;
}

.Navbar-list-item:link, .Navbar-list-item:visited {
    background: var(--color5);
    color: white;
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    display: inline-block;
}

.Navbar-list-item:hover, .Navbar-list-item:active {
    background: var(--color5Light);
}

.Navbar-list-item: hover{
    background: var(--color5Light);
}

.navbar-title{
    position: absolute;
    width: inherit;
    padding-top: 4px;
    font-size: 22px;
    color: white;
    z-index: -1;
}
@keyframes popdown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
